<footer class="relative border-t-[6px] border-black max-w-6xl m-auto mt-24 lg:mt-48 px-12">
    <img class="absolute z-[-1] lg:left-[-15%] lg:top-[50px] lg:max-w-[20rem] right-[10%] bottom-[-10%] max-w-[30rem]"
        src="./assets/img/background-shapes/footer-bg.svg" alt="">
    <div class="grid lg:grid-cols-7 lg:justify-center my-6 inner--large gap-6">
        <img class="ml-8 lg:ml-0 order-1 lg:order-[-1] w-56 lg:col-span-2 lg:m-auto" src="assets/img/icons/rit-libre-corps.svg" alt="">
        <div class="pb-4 lg:pb-0 lg:pl-8 lg:col-span-5 lg:flex border-b-2 lg:border-b-0 lg:border-l-2 border-black ml-8 justify-between gap-12">
            <p>Open Work Definition 0.1 was written by Stephen Jacobs, Director, Open@RIT with contributions from Michael Nolan, Associate Director, Open@RIT, and Karsten Wade, Principal Community Architect, Red Hat, Inc.</p>
            <p class="text-lg whitespace-nowrap mt-8 lg:mt-0 lg:text-right">
                Please share your comments<br> with us at mpnopen@rit.edu.
                <br><br>
                <a href="https://openr.it">Open@RIT</a>
                <br>
                <a href="https://github.com/FOSSRIT/open-work-definition/">GitHub</a>
            </p>
        </div>
    </div>
</footer>